[user]
    name = Martin Sandström
    email = martin@marteinn.se

[mergetool]
    keepBackup = true

[alias]
    a = add
    ai = add -i
    b = branch
    c = commit
    cm = commit -m
    ch = checkout
    lv = !sh -c 'git log --oneline --decorate $1' -
    l = git log --name-status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    undo = reset --soft HEAD~1
    au = !"git status --porcelain | awk '/\\?\\?/{ print $2 }' | xargs git add" # Add untracked files
    d = diff --color-words --ignore-space-at-eol -b -w
    dh = diff --color-words --ignore-space-at-eol -b -w head
    t = tag -n
    s = status -s
    restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1" # Restore deleted file

    master = checkout master
    develop = checkout develop

[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim

[color]
    diff = true

[push]
    default = simple
