[user]
    name = Martin Sandström
    email = martin@marteinn.se

[mergetool]
    keepBackup = true
    path = nvim

[alias]
    a = add
    ai = add -i
    b = branch
    c = commit
    cm = commit -m
    ch = checkout
    lv = !sh -c 'git log --oneline --decorate $1' -
    l = git log --name-status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    undo = reset --soft HEAD~1

    # Add untracked files
    au = !"git status --porcelain | awk '/\\?\\?/{ print $2 }' | xargs git add"

    d = diff --color-words --ignore-space-at-eol -b -w
    dh = diff --color-words --ignore-space-at-eol -b -w head

    # Show tags with first comment
    t = tag -n

    # semver friendly tag sorting
    ta = tag --sort=v:refname -n

    s = status -s

    # Restore deleted file
    restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"

    # Show changed files in commit
    show-files = diff-tree --no-commit-id --name-only -r

    # Checkout specific pr (git pr XXXX)
    pr = !sh -c \"git fetch upstream pull/${1}/head:pr/${1} && git checkout pr/${1}\"

    master = checkout master
    develop = checkout develop

    pr = !sh -c \"git fetch upstream pull/${1}/head:pr/${1} && git checkout pr/${1}\"

[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
    ignorecase = false

[color]
    diff = true

[push]
    default = simple

[merge "ours"]
    driver = true

[merge]
    tool = vimdiff

[status]
    showUntrackedFiles = all
