# alias
if [ -z "$ZSH_NAME" ]; then
    alias ll="ls -l"
    alias la="ls -A"
    alias l="ls -CF"

    alias ..="cd .."
fi

# start tomcat (with solr)
alias solr="catalina start"

[ -n "$PS1" ] && source ~/dotfiles/xcode/.aliases
