# alias
if [ -z "$ZSH_NAME" ]; then
    alias ll="ls -l"
    alias la="ls -A"
    alias l="ls -CF"

    alias ..="cd .."
fi

# git typos
alias gti="git"
alias gits="git s"

# docker typos
alias ocker="docker"
alias docekr="docker"
alias odkcer="docker"
alias docekrc="docker"

# composer alias
alias dc="docker-compose"
