# alias
if [ -z "$ZSH_NAME" ]; then
    alias ll="ls -l"
    alias la="ls -A"
    alias l="ls -CF"

    alias ..="cd .."
fi

# start tomcat (with solr)
alias solr="catalina start"

# get computer ip (http://stackoverflow.com/a/13322549)
alias myip="ifconfig | sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'"

[ -n "$PS1" ] && source ~/dotfiles/xcode/.aliases
