# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Tab completion for ssh hosts, from:
# http://feeds.macosxhints.com/~r/macosxhints/recent/~3/257065700/article.php
if [ -z "$ZSH_NAME" ]; then
    complete -W "$(echo `cat ~/.ssh/known_hosts | cut -f 1 -d ' ' | sed -e s/,.*//g | uniq | grep -v "\["`;)" ssh
fi

# Serve static web assets
function simple_webserver {
    python -m SimpleHTTPServer 8001
}

# HTTP lookup
function http() {
    curl http://httpcode.info/$1;
}
