# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Serve static web assets
function simple_webserver {
    python -m http.server 8001
}

# HTTP lookup
function http() {
    curl http://httpcode.info/$1;
}

# Start a plain mail server
function simple_mailserver {
    python -m smtpd -n -c DebuggingServer localhost:1025
}

# Create new tmux session by folder name
function tnew {
    tmux new-session -As `(basename $PWD | tr . _)`
}

# Initialize nvm
function nvm_session() {
    if [[ "$OSTYPE" == "darwin"* ]]; then
        export NVM_DIR=~/.nvm
        source $(brew --prefix nvm)/nvm.sh
    else
        export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
    fi
}
