snippet react_component
import React from 'react';

class $1 extends React.Component {
    render() {
        return null;
    }
}

export default $1;
endsnippet


snippet react_function
const $1 = (props) => {
    return null;
}

export default $1;
endsnippet
