snippet react_component
import React from 'react';

class $1 extends React.Component {
    render() {
        return null;
    }
}

export default $1;
endsnippet


snippet react_function
import React from 'react';

const $1 = (props) => {
    return (
        <$2>$0</$2>
    );
}

export default $1;
endsnippet
